<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <caption>List of {{caption}}</caption>
        <thead>
            <th *ngFor="let header of headers" scope="col">{{header}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let dataRow of data" (click)="selectRow(dataRow)" data-toggle="modal" data-target="#detailRow">   
                <td *ngFor="let header of headers">
                    {{dataRow[header]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-table-detail [caption]="caption" [data]="selectedRow" (deleteRowEvent)="deleteRow($event)"></app-table-detail>
