<h1>{{title}}</h1>
<div class="wrapper">
    
    <nav id="sidebar" [hidden]=sideBarShown aria-label="Website navigation links">
        <app-dashboard></app-dashboard>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Dashboard toggle">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSidebar()">
                    <em class="fas fa-align-left"></em>
                    <span>Toggle Dashboard</span>
                </button>
            </div>
        </nav>
        <router-outlet></router-outlet>
        <app-messages></app-messages>
    </div>
</div>