<div class="container">
    <div class="row">
        <div class="col">
            <p>classes works! {{headers}}</p>
        </div>
    </div>
    <div class="row">
        <select class="col-6 form-control" (change)="onSettingChange($event.target.value)">
            <option selected>dnd</option>
            <option>vtm</option>
        </select>
        <p class="col-6">ApiSetting:{{apiSetting}}:</p>
    </div>
</div>

<app-new-entry [caption]="caption" [headers]="headers" (finishedEntryEmitter)="addClass($event)"></app-new-entry>

<app-table [caption]="caption" [headers]="headers" [data]="tableTopClasses"></app-table>
